<main class="contenedor sombra">

  <h2>Mis servicios</h2>

  <div class="servicios">

<section class="servicio">

  <h3>Diseño Web</h3>
  <div class="iconos">
     <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brush" width="60" height="60" viewBox="0 0 24 24" stroke-width="2" stroke="#009988" fill="none" stroke-linecap="round" stroke-linejoin="round">
      <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
      <path d="M3 21v-4a4 4 0 1 1 4 4h-4" />
      <path d="M21 3a16 16 0 0 0 -12.8 10.2" />
      <path d="M21 3a16 16 0 0 1 -10.2 12.8" />
      <path d="M10.6 9a9 9 0 0 1 4.4 4.4" />
     </svg>
   </div>
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>

</section>

<section class="servicio">

 <h3>Aplicaciones Web</h3>
   <div class="iconos">
   <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-appstore" width="60" height="60" viewBox="0 0 24 24" stroke-width="2" stroke="#009988" fill="none" stroke-linecap="round" stroke-linejoin="round">
     <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
     <circle cx="12" cy="12" r="9" />
     <path d="M8 16l1.106 -1.99m1.4 -2.522l2.494 -4.488" />
     <path d="M7 14h5m2.9 0h2.1" />
     <path d="M16 16l-2.51 -4.518m-1.487 -2.677l-1.003 -1.805" />
   </svg>
 </div>
   <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
</section>

<section class="servicio">

<h3>E-comerce</h3>
  <div class="iconos">
   <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-businessplan" width="60" height="60" viewBox="0 0 24 24" stroke-width="2" stroke="#009988" fill="none" stroke-linecap="round" stroke-linejoin="round">
     <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
       <ellipse cx="16" cy="6" rx="5" ry="3" />
     <path d="M11 6v4c0 1.657 2.239 3 5 3s5 -1.343 5 -3v-4" />
     <path d="M11 10v4c0 1.657 2.239 3 5 3s5 -1.343 5 -3v-4" />
     <path d="M11 14v4c0 1.657 2.239 3 5 3s5 -1.343 5 -3v-4" />
     <path d="M7 9h-2.5a1.5 1.5 0 0 0 0 3h1a1.5 1.5 0 0 1 0 3h-2.5" />
     <path d="M5 15v1m0 -8v1" />
   </svg><!--para iconos utilizo tablersicons.com-->
 </div>
   <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
</section>
</div><!--aqui cierro servicios-->
</main>
